*.class
*.iml
*.apk
LabAssistant/.idea/encodings.xml
LabAssistant/.idea/copyright/profiles_settings.xml
LabAssistant/.idea/compiler.xml
LabAssistant/.idea/.name
LabAssistant/.idea/libraries/android_support_v4.xml
LabAssistant/.idea/libraries/dexedLibs.xml
LabAssistant/.idea/misc.xml
LabAssistant/.idea/modules.xml
LabAssistant/.idea/scopes/scope_settings.xml
LabAssistant/.idea/vcs.xml
LabAssistant/.idea/workspace.xml
LabAssistant/gen/com/example/labassistant/BuildConfig.java
LabAssistant/gen/com/example/labassistant/Manifest.java
LabAssistant/gen/com/example/labassistant/R.java
LabAssistant/.idea/uiDesigner.xml